# Node.js
node_modules/
dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Java / Spring
target/
*.class
*.jar
*.war

# Docker
# Docker
**/node_modules
**/__pycache__
*.env
.env
*.log

# VSCode
.vscode/

# Sistema
.DS_Store
*.swp

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
